<p>
    Library Carpentry / Biblioteksløyd er kurs av og for bibliotekarer og andre som jobber i og med bibliotek.
    Dette kurset passer for deg som
</p>
<ul>
  <li>Er nysgjerrig på programmering og trenger en dytt for å komme i gang</li>
  <li>Jobber med (store) datasett.</li>
  <li>Ønsker å lære nye verktøy for a rydde i, sortere, søke i og kna datasett</li>
  <li>Ønsker å kunne automatisere kjedelige PC-oppgaver (en vakker dag)</li>
</ul>

<p>
    Metodologien bygger på <a href="{{site.lc_site}}">Library Carpentry</a>.
    For mer info om hva vi lærer bort og hvorfor, se artikkelen
    "<a href="https://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
</p>
