<p>
    Library Carpentry / Biblioteksløyd er gratis kurs av og for bibliotekarer og andre som jobber i og med bibliotek.
    Dette kurset er for deg som nikker ja til minst ett av følgende:
</p>
<ul>
    <li>Er nysgjerrig på programmering og trenger en dytt for å komme i gang</li>
    <li>Jobber med (store) datasett, og ønsker å lære nye verktøy for a rydde i, sortere, søke i og kna dem</li>
    <li>Ønsker å kunne automatisere kjedelige PC-oppgaver</li>
    <li>Ønsker å lage dine egne verktøy til bruk i biblioteksarbeidet (en vakker dag)</li>
</ul>

<p>
    Denne workshopen gir en introduksjon til programmering, du vil skjønne hva det handler om, samt komme igang med koding selv, gjennom å gjøre oppgaver.
    Workshopen går over 1,5 dager. Det er mulig å delta på kun dag 2 hvis du allerede har litt programmeringserfaring. For alle andre, der programmeringens verden er ukjent, så anbefaler vi sterkt å delta begge dager.
</p>

<p>
    Metodologien bygger på <a href="{{site.lc_site}}">Library Carpentry</a>.
    For mer info om hva vi lærer bort og hvorfor, se artikkelen
    "<a href="https://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
</p>
