
<div class="row">
  <div class="col-md-6">
    <h3>Dag 1 (halv dag)</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Introduksjon - Datatyper, oppklaring av begrep og uttrykk</td></tr>
      <tr> <td>14:00</td>  <td>RegExp - Regulære uttrykk - En metode for avansert tekstsøk, disseksjon av tekst-data</td></tr>
      <tr> <td>15:00</td>  <td>Intro til programmering i Python</td></tr>
      <tr> <td>16:00</td>  <td>Slutt</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Dag 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Intro til programmering i Python</td> </tr>
      <tr> <td>10:30</td>  <td>Kaffepause</td> </tr>
      <tr> <td>12:00</td>  <td>Lunsjpause</td> </tr>
      <tr> <td>13:00</td>  <td>Python til biblioteksarbeid</td> </tr>
      <tr> <td>14:30</td>  <td>Kaffepause</td> </tr>
      <tr> <td>16:00</td>  <td>Slutt</td> </tr>
    </table>
  </div>
</div>
