<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Day 1: <a href="https://librarycarpentry.github.io/lc-data-intro">Introduction to Data</a></h3>
    <ul>
      <li>Intro to data</li>
      <li>Jargon busting</li>
      <li>Keyboard shortcuts</li>
      <li>Plain text formats</li>
      <li>Naming files</li>
      <li>Regular expressions</li>
      <li><a href="https://librarycarpentry.github.io/lc-data-intro/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Day 2: <a href="http://swcarpentry.github.io/python-novice-inflammation/">Programming in Python</a></h3>
    <ul>
      <li>Analyzing Patient Data</li>
      <li>Repeating Actions with Loops</li>
      <li>Storing Multiple Values in Lists</li>
      <li>Analyzing Data from Multiple Files</li>
      <li>Making Choices</li>
      <li>Creating Functions</li>
      <li>Errors and Exceptions</li>
      <li>Defensive Programming</li>
      <li>Debugging</li>
      <li>Command-Line Programs</li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>
</div>

<p>
    Dag 2 kommer vi først til å gå gjennom en del utvalgte emner fra den velprøvde introduksjonsmodulen til Software Carpentry (over). Deretter ser vi på noen konkrete eksempler på hvordan vi kan bruke programmering i Python i biblioteksammenheng.
</p>
<p>
    Undervisningen blir på norsk med engelsk kursmateriell.
</p>
